@media all and (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}
    
@media all and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .content h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

@media all and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .content h1 {
        font-size: 40px;
        line-height: 46px;
    }
    .banner-section {
        padding-bottom: 40px;
    }
    .banner-section .row {
        grid-template-columns: auto;
    }
    .description-section .row {
        grid-template-columns: auto;
    }
    .column-offset {
        margin-left: 0;
    }
    .description-section:nth-child(3) .row .column:first-child {
        order: 2;
    }
    .banner-section .app-buttons {
        justify-content: flex-start;
    }
    .banner-section .app-buttons a:first-child {
        margin-left: 0;
    }
    .section-image img {
        margin: 0 auto;
        display: block;

    }
    .comments-section .columns-view {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .content h1 {
        font-size: 34px;
        line-height: 40px;
    }

    }


@media all and (max-width: 575px) {
    .container {
        max-width: 90vw;
    }
   .app-buttons {
       flex-direction: column;
        }
    .app-buttons a {
        margin-left: 0;
    }
    .join-section .app-buttons a {
        margin: 0 auto;
    }
    .comments-section .columns-view {
    grid-template-columns: auto;
    }
    .section-image img {
        max-width: 80vw;
    }
    .description-section .content {
        padding-top: 0;
    }
    .header-btn {
        display: none;
    }
}

@font-face {
    font-family: Jost;
    src: url(./fonts/Jost-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    }
@font-face {
    font-family: Jost;
    src: url(./fonts/Jost-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
* {
    font-family: Jost, sans-serif;
    box-sizing: border-box;
    margin:0;
}
.logo-container {
        box-sizing: content-box;
        height: 60px;
}
.logo-container img {
    height: 60px;
}
header {
    background-color: #E4ECEE;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
}
div.menu-block {
    display: flex;
    margin-left: auto;
}
nav {
    display: flex;
    align-items: center;
}
.main-menu {
    display: flex;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    padding: 35px 20px 33px 20px;
    font-size: 1rem;
    display: flex;
    line-height: 1.5;
    color: rgb(31, 31, 31);
    letter-spacing: -0.4px;
}
.header-btn {
    display: flex;
}
.download-btn {
    font-size: 1rem;
    letter-spacing: -0.4px;
    line-height: 10px;
    color: #ffffff;
    height: 40px;
    background-color: #1f1f1f;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left: 15px;
    padding: 15px;
    text-decoration: none;
}
.banner-section {
    background-color: #E4ECEE;
}
.row {
    display: grid;
    padding: 25px 24px 0 24px;
    grid-template-columns: repeat(2, 1fr);
}
.banner img {
    max-width: 100%;
    max-height: 550px;
}
.column-offset {
    margin-left: 8%;
}
.content {
    padding-top: 75px;
}
.content h1 {
    font-size: 70px;
    line-height: 72px;
}
.content p {
    font-size: 24px;
    line-height: 36px;
    color: #222F3F;
    letter-spacing: -0.3px;
    margin: 25px 0px 35px 0px;
}
.container.border-bottom {
    border-bottom: 1px solid #dee2e6;
}
.description-section {
    padding-top: 75px;
}
.section-image {
    max-height: 400px;
}
.section-image img {
    max-height: 400px;
}
.comments-section {
    background-color: #E4ECEE;
    padding-top: 50px;
    padding-bottom: 32px;
}
.one-column {
    display: grid;
    grid-template-columns: auto;
}
.columns-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:32px;
}
.comments-section h2 {
    font-size: 60px;
    line-height: 64px;
}
.one-column h2 {
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 32px;
}
.card p {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #1F1F1F;
    margin-bottom: 24px;
}
.card .user {
    display: flex;

}
.card .user img {
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 22px;
}
.user h5 {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #1F1F1F;
}
.join-section {
    padding-top: 30px;
    padding-bottom: 50px;

}
.app-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.platform.large {
    height: 70px;
}
.app-buttons a {
    margin: 0 24px;
    
}
.platform.small {
    height: 50px;
}
footer {
    padding: 30px 0;
}
.copyright {
    display: flex;
    justify-content: flex-end;
}
